<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/app.css">
  <script src="/static/app.js" defer></script>
  <title>Document</title>
</head>

<body>

  <div id="tooltip"></div>
  <nav>
    <a href="/destinations">Destinations</a>
    
    {% if not user %}
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
    {% else %}
    <a href="/destination/create">Create Destination</a>
    <a href="/logout">Logout</a>
    {% endif %}

  </nav>