{% include "_header.html" %}

<main>
  <h1>Edit Destination</h1>

  <form mix-patch="/api-update-destination/{{destination.destination_pk}}" autocomplete="off">

    <div>
      <label for="">
        Title <span>{{x.DESTINATION_TITLE_MIN}} to {{x.DESTINATION_TITLE_MAX}} characters</span>
      </label>
      <input name="destination_title" type="text" placeholder="destination title" value="{{destination.destination_title}}"
        mix-validate="{{x.REGEX_DESTINATION_TITLE}}">
    </div>

    <div>
      <label for="">
        Date from
      </label>
      <input name="destination_date_from" type="date" value="{{destination.destination_date_from}}">
    </div>

    <div>
      <label for="">
        Date to
      </label>
      <input name="destination_date_to" type="date" value="{{destination.destination_date_to}}">
    </div>

    <div>
      <label for="">
        Description <span>max {{x.DESTINATION_DESCRIPTION_MAX}} characters</span>
      </label>
      <textarea name="destination_description"
        mix-validate="{{x.REGEX_DESTINATION_DESCRIPTION}}">{{destination.destination_description}}</textarea>
    </div>

    <div>
      <label for="">
        Location <span>{{x.DESTINATION_LOCATION_MIN}} to {{x.DESTINATION_LOCATION_MAX}} characters</span>
      </label>
      <input name="destination_location" type="text" placeholder="destination location" value="{{destination.destination_location}}"
        mix-validate="{{x.REGEX_DESTINATION_LOCATION}}">
    </div>

    <div>
      <label for="">
        Country <span>{{x.DESTINATION_COUNTRY_MIN}} to {{x.DESTINATION_COUNTRY_MAX}} characters</span>
      </label>
      <input name="destination_country" type="text" placeholder="destination country" value="{{destination.destination_country}}"
        mix-validate="{{x.REGEX_DESTINATION_COUNTRY}}">
    </div>

    <button>
      Update Destination
    </button>
  </form>
</main>

{% include "_footer.html" %}
