{% include "_header.html" %}

<main>
  <h1>Create Destination</h1>

  <form mix-post="/api-create-destination" autocomplete="off">

    <div>
      <label for="">
        Title <span>{{x.DESTINATION_TITLE_MIN}} to {{x.DESTINATION_TITLE_MAX}} characters</span>
      </label>
      <input name="destination_title" type="text" placeholder="destination title" value=""
        mix-validate="{{x.REGEX_DESTINATION_TITLE}}">
    </div>

    <div>
      <label for="">
        Date from
      </label>
      <input name="destination_date_from" type="date" value="">
    </div>

    <div>
      <label for="">
        Date to
      </label>
      <input name="destination_date_to" type="date" value="">
    </div>

    <div>
      <label for="">
        Description <span>max {{x.DESTINATION_DESCRIPTION_MAX}} characters</span>
      </label>
      <textarea name="destination_description" placeholder="destination description"
        mix-validate="{{x.REGEX_DESTINATION_DESCRIPTION}}"></textarea>
    </div>

    <div>
      <label for="">
        Location <span>{{x.DESTINATION_LOCATION_MIN}} to {{x.DESTINATION_LOCATION_MAX}} characters</span>
      </label>
      <input name="destination_location" type="text" placeholder="destination location" value=""
        mix-validate="{{x.REGEX_DESTINATION_LOCATION}}">
    </div>

    <div>
      <label for="">
        Country <span>{{x.DESTINATION_COUNTRY_MIN}} to {{x.DESTINATION_COUNTRY_MAX}} characters</span>
      </label>
      <input name="destination_country" type="text" placeholder="destination country" value=""
        mix-validate="{{x.REGEX_DESTINATION_COUNTRY}}">
    </div>

    <button>
      Create Destination
    </button>
  </form>
</main>

{% include "_footer.html" %}
